body {
    background-color: rgb(64, 64, 236);
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;

}

section {

    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);

}
footer {

    color: white;
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 5px;
}
#homelink {
    text-align: center;
    background-color: rgba(95, 95, 248, 0.356);
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    border-color: brown;
    color: aliceblue;
}